.container {
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Quicksand", "Helvetica Neue", sans-serif;
  pointer-events: none;
}

.title {
  font-size: 3em;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
